<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.android.hagglemaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="com.example.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <activity
            android:name=".HandheldActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchDetails"
            android:label="@string/title_activity_search_details"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <service android:name=".MyReceiverService"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".SendingService"
            android:enabled="true"
            android:label="SendingService"
            android:screenOrientation="portrait">
        </service>

        <activity
            android:name=".ListViewActivity"
            android:label="ListViewActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadActivity"
            android:configChanges="locale|touchscreen|orientation|screenLayout|screenSize|keyboardHidden|uiMode"
            android:label="@string/title_activity_upload"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Redirect"
            android:label="@string/title_activity_redirect"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>
